In [1]:
#import packages
import numpy as np
import pandas as pd
import os

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import impute

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [2]:
BASE_DIR = "/Users/Avinash/Documents/Kanchanah/Springboard/Data_Science_Track/Capstone_Two_Other_Material/"

data = "Data/data.csv"

## Import Dataset

In [3]:
#import dataset
data = pd.read_csv(os.path.expanduser(os.path.join(BASE_DIR, data)),index_col=0)

In [4]:
#Dimension and first few few columns of X_train
data.shape

(200564, 52)

In [5]:
#review first few rows
data.head()

,HOUSEID,PERSONID,VEHID,CAR,CARSHARE,CAR_label,DRVRCNT,EDUC,EDUC_label,GT1JBLWK,...,VEHOWNMO,WKFTPT,WKFTPT_label,WKRMHM,WKRMHM_label,WRKCOUNT,YEARMILE,YOUNGCHILD,fueltype_numeric,fueltype_numeric_label
49977,30210010,2,3,1.0,0.0,DAILY,3.0,3.0,SOME COLLEGE OR ASSOCIATES DEGREE,2.0,...,0.0,1.0,FULL-TIME,2.0,NO,3.0,25000.0,0.0,0,Non-EV
152617,40136586,1,1,1.0,0.0,DAILY,1.0,3.0,SOME COLLEGE OR ASSOCIATES DEGREE,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,1000.0,0.0,0,Non-EV
219521,40588561,4,4,1.0,0.0,DAILY,3.0,2.0,HIGH SCHOOL GRADUATE OR GED,2.0,...,NaN,2.0,PART-TIME,2.0,NO,2.0,5000.0,0.0,0,Non-EV
207962,40509371,1,1,3.0,10.0,A FEW TIMES A MONTH,1.0,4.0,BACHELOR'S DEGREE,2.0,...,3.0,1.0,FULL-TIME,NaN,NaN,1.0,500.0,0.0,0,Non-EV
108057,30455166,1,2,1.0,0.0,DAILY,2.0,5.0,GRADUATE DEGREE OR PROFESSIONAL DEGREE,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,10000.0,0.0,0,Non-EV

In [6]:
#Look at info
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200564 entries, 49977 to 38915
Data columns (total 52 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   HOUSEID                 200564 non-null  int64
 1   PERSONID                200564 non-null  int64
 2   VEHID                   200564 non-null  int64
 3   CAR                     198663 non-null  float64
 4   CARSHARE                200271 non-null  float64
 5   CAR_label               198663 non-null  object
 6   DRVRCNT                 200564 non-null  float64
 7   EDUC                    200424 non-null  float64
 8   EDUC_label              200424 non-null  object
 9   GT1JBLWK                114467 non-null  float64
 10  GT1JBLWK_label          114467 non-null  object
 11  HBHUR                   200392 non-null  object
 12  HBHUR_label             200392 non-null  object
 13  HBPPOPDN                200392 non-null  float64
 14  HBPPOPDN_label          200392 non-null  object
 15  HBRESDN                 200392 non-null  float64
 16  HBRESDN_label           200392 non-null  object
 17  HHFAMINC                194349 non-null  float64
 18  HHFAMINC_label          194349 non-null  object
 19  HHSIZE                  200564 non-null  float64
 20  HHSTATE                 200564 non-null  object
 21  HHSTATE_label           200564 non-null  object
 22  HHVEHCNT                200564 non-null  float64
 23  HOMEOWN                 200522 non-null  float64
 24  HOMEOWN_label           200522 non-null  object
 25  OCCAT                   114419 non-null  float64
 26  OCCAT_label             114419 non-null  object
 27  PLACE                   196881 non-null  float64
 28  PLACE_label             196881 non-null  object
 29  PRICE                   199877 non-null  float64
 30  PRICE_label             199877 non-null  object
 31  R_AGE                   200269 non-null  float64
 32  R_HISP                  200281 non-null  float64
 33  R_HISP_label            200281 non-null  object
 34  R_RACE                  199564 non-null  float64
 35  R_RACE_label            200564 non-null  object
 36  R_SEX                   200442 non-null  float64
 37  R_SEX_label             200442 non-null  object
 38  TIMETOWK                98932 non-null   float64
 39  VEHAGE                  199483 non-null  float64
 40  VEHOWNED                200405 non-null  float64
 41  VEHOWNED_label          200405 non-null  object
 42  VEHOWNMO                30822 non-null   float64
 43  WKFTPT                  114404 non-null  float64
 44  WKFTPT_label            114404 non-null  object
 45  WKRMHM                  99042 non-null   float64
 46  WKRMHM_label            99042 non-null   object
 47  WRKCOUNT                200564 non-null  float64
 48  YEARMILE                147843 non-null  float64
 49  YOUNGCHILD              200564 non-null  float64
 50  fueltype_numeric        200564 non-null  int64
 51  fueltype_numeric_label  200564 non-null  object
dtypes: float64(27), int64(4), object(21)
memory usage: 81.1+ MB

## Split Datasets

In [7]:
#remove variables without _label
var_label = [a.replace("_label","") for a in data.columns if "_label" in a]

In [8]:
#drop irrelevant variables
X = data.drop(columns=['fueltype_numeric','fueltype_numeric_label'] + var_label)

In [9]:
#output variable
y = data['fueltype_numeric']

In [10]:
#train test split
X_train, X_test, y_train, y_test = train_test_split (X, y, test_size = 0.3, random_state = 21)

In [11]:
#check first few rows
X_train.head()

,HOUSEID,PERSONID,VEHID,CARSHARE,CAR_label,DRVRCNT,EDUC_label,GT1JBLWK_label,HBHUR_label,HBPPOPDN_label,...,R_SEX_label,TIMETOWK,VEHAGE,VEHOWNED_label,VEHOWNMO,WKFTPT_label,WKRMHM_label,WRKCOUNT,YEARMILE,YOUNGCHILD
165952,40226077,1,1,0.0,DAILY,1.0,BACHELOR'S DEGREE,NO,SECOND CITY,"4,000-9,999",...,FEMALE,NaN,1.0,YES,NaN,FULL-TIME,NaN,1.0,NaN,0.0
161420,40196601,1,1,0.0,DAILY,3.0,HIGH SCHOOL GRADUATE OR GED,NaN,SUBURBAN,"2,000-3,999",...,MALE,NaN,7.0,YES,NaN,NaN,NaN,1.0,NaN,0.0
231467,40667671,2,1,0.0,DAILY,2.0,BACHELOR'S DEGREE,NaN,SMALL TOWN,100-499,...,FEMALE,NaN,1.0,YES,NaN,NaN,NaN,0.0,NaN,0.0
109716,30461749,1,1,0.0,A FEW TIMES A WEEK,1.0,LESS THAN A HIGH SCHOOL GRADUATE,NaN,URBAN,"4,000-9,999",...,MALE,NaN,10.0,YES,NaN,NaN,NaN,0.0,1000.0,0.0
187414,40370084,2,2,0.0,DAILY,2.0,SOME COLLEGE OR ASSOCIATES DEGREE,YES,SECOND CITY,"2,000-3,999",...,MALE,60.0,14.0,NO,4.0,FULL-TIME,NO,2.0,NaN,0.0

In [12]:
#check dimension
X_train.shape

(140394, 32)

In [13]:
#check info
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 140394 entries, 165952 to 97650
Data columns (total 32 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   HOUSEID         140394 non-null  int64
 1   PERSONID        140394 non-null  int64
 2   VEHID           140394 non-null  int64
 3   CARSHARE        140186 non-null  float64
 4   CAR_label       139080 non-null  object
 5   DRVRCNT         140394 non-null  float64
 6   EDUC_label      140294 non-null  object
 7   GT1JBLWK_label  80283 non-null   object
 8   HBHUR_label     140273 non-null  object
 9   HBPPOPDN_label  140273 non-null  object
 10  HBRESDN_label   140273 non-null  object
 11  HHFAMINC_label  136027 non-null  object
 12  HHSIZE          140394 non-null  float64
 13  HHSTATE_label   140394 non-null  object
 14  HHVEHCNT        140394 non-null  float64
 15  HOMEOWN_label   140359 non-null  object
 16  OCCAT_label     80251 non-null   object
 17  PLACE_label     137847 non-null  object
 18  PRICE_label     139916 non-null  object
 19  R_AGE           140181 non-null  float64
 20  R_HISP_label    140190 non-null  object
 21  R_RACE_label    140394 non-null  object
 22  R_SEX_label     140312 non-null  object
 23  TIMETOWK        69275 non-null   float64
 24  VEHAGE          139645 non-null  float64
 25  VEHOWNED_label  140294 non-null  object
 26  VEHOWNMO        21604 non-null   float64
 27  WKFTPT_label    80245 non-null   object
 28  WKRMHM_label    69359 non-null   object
 29  WRKCOUNT        140394 non-null  float64
 30  YEARMILE        103443 non-null  float64
 31  YOUNGCHILD      140394 non-null  float64
dtypes: float64(11), int64(3), object(18)
memory usage: 35.3+ MB

In [14]:
#check first few rows
X_test.head()

,HOUSEID,PERSONID,VEHID,CARSHARE,CAR_label,DRVRCNT,EDUC_label,GT1JBLWK_label,HBHUR_label,HBPPOPDN_label,...,R_SEX_label,TIMETOWK,VEHAGE,VEHOWNED_label,VEHOWNMO,WKFTPT_label,WKRMHM_label,WRKCOUNT,YEARMILE,YOUNGCHILD
205300,40491553,2,2,0.0,DAILY,2.0,BACHELOR'S DEGREE,NO,URBAN,"4,000-9,999",...,FEMALE,15.0,4.0,YES,NaN,FULL-TIME,YES,2.0,13000.0,0.0
150902,40125081,2,1,0.0,DAILY,2.0,LESS THAN A HIGH SCHOOL GRADUATE,NaN,RURAL,0-99,...,MALE,NaN,4.0,NO,4.0,NaN,NaN,0.0,3000.0,0.0
70631,30296300,1,1,0.0,DAILY,1.0,HIGH SCHOOL GRADUATE OR GED,NaN,SMALL TOWN,100-499,...,FEMALE,NaN,16.0,NO,10.0,NaN,NaN,1.0,NaN,1.0
53212,30223835,2,1,0.0,DAILY,2.0,SOME COLLEGE OR ASSOCIATES DEGREE,NO,URBAN,"10,000-24,999",...,MALE,45.0,17.0,YES,NaN,PART-TIME,NO,2.0,5000.0,0.0
197639,40437650,1,1,0.0,DAILY,2.0,BACHELOR'S DEGREE,NO,SUBURBAN,"2,000-3,999",...,MALE,15.0,2.0,YES,NaN,FULL-TIME,YES,1.0,18000.0,2.0

In [15]:
#check dimension
X_test.shape

(60170, 32)

In [16]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60170 entries, 205300 to 239295
Data columns (total 32 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   HOUSEID         60170 non-null  int64
 1   PERSONID        60170 non-null  int64
 2   VEHID           60170 non-null  int64
 3   CARSHARE        60085 non-null  float64
 4   CAR_label       59583 non-null  object
 5   DRVRCNT         60170 non-null  float64
 6   EDUC_label      60130 non-null  object
 7   GT1JBLWK_label  34184 non-null  object
 8   HBHUR_label     60119 non-null  object
 9   HBPPOPDN_label  60119 non-null  object
 10  HBRESDN_label   60119 non-null  object
 11  HHFAMINC_label  58322 non-null  object
 12  HHSIZE          60170 non-null  float64
 13  HHSTATE_label   60170 non-null  object
 14  HHVEHCNT        60170 non-null  float64
 15  HOMEOWN_label   60163 non-null  object
 16  OCCAT_label     34168 non-null  object
 17  PLACE_label     59034 non-null  object
 18  PRICE_label     59961 non-null  object
 19  R_AGE           60088 non-null  float64
 20  R_HISP_label    60091 non-null  object
 21  R_RACE_label    60170 non-null  object
 22  R_SEX_label     60130 non-null  object
 23  TIMETOWK        29657 non-null  float64
 24  VEHAGE          59838 non-null  float64
 25  VEHOWNED_label  60111 non-null  object
 26  VEHOWNMO        9218 non-null   float64
 27  WKFTPT_label    34159 non-null  object
 28  WKRMHM_label    29683 non-null  object
 29  WRKCOUNT        60170 non-null  float64
 30  YEARMILE        44400 non-null  float64
 31  YOUNGCHILD      60170 non-null  float64
dtypes: float64(11), int64(3), object(18)
memory usage: 15.1+ MB

## Impute Datasets

In [17]:
# median imputer
imp_median = impute.SimpleImputer(missing_values=np.nan, strategy="median")

# categorical imputer
imp_cat = impute.SimpleImputer(missing_values=np.nan, strategy="most_frequent")

In [18]:
#split data types
X_train_cat = X_train.select_dtypes('object')
X_train_num = X_train.select_dtypes('float64')
X_test_cat = X_test.select_dtypes('object')
X_test_num = X_test.select_dtypes('float64')

In [19]:
print("The shape of the X_train categorical features is {0}".format(X_train_cat.shape))
print("The shape of the X_train numerical features is {0}".format(X_train_num.shape))
print("The shape of the X_test categorical features is {0}".format(X_test_cat.shape))
print("The shape of the X_test numerical features is {0}".format(X_test_num.shape))

The shape of the X_train categorical features is (140394, 18)
The shape of the X_train numerical features is (140394, 11)
The shape of the X_test categorical features is (60170, 18)
The shape of the X_test numerical features is (60170, 11)

In [20]:
#fit training
# impute categorical data
X_train_cat_data_impute = imp_cat.fit(X_train_cat)

In [21]:
#fit training
# impute numerical data
X_train_num_data_impute = imp_median.fit(X_train_num)

In [22]:
#transform training
X_train_cat_fit = X_train_cat_data_impute.transform(X_train_cat)

In [23]:
#transform test
X_test_cat_fit = X_train_cat_data_impute.transform(X_test_cat)

In [24]:
#transform training
X_train_num_fit = X_train_num_data_impute.transform(X_train_num)

In [25]:
#transform test
X_test_num_fit = X_train_num_data_impute.transform(X_test_num)

In [26]:
print("The shape of the X_train categorical fit features is {0}".format(X_train_cat_fit.shape))
print("The shape of the X_train numerical fit features is {0}".format(X_train_num_fit.shape))
print("The shape of the X_test categorical fit features is {0}".format(X_test_cat_fit.shape))
print("The shape of the X_test numerical fit features is {0}".format(X_test_num_fit.shape))

The shape of the X_train categorical fit features is (140394, 18)
The shape of the X_train numerical fit features is (140394, 11)
The shape of the X_test categorical fit features is (60170, 18)
The shape of the X_test numerical fit features is (60170, 11)

## Scale and One Hot Code Datasets

In [27]:
#scale dataset

sc = MinMaxScaler()

X_train_num_fit_sc = sc.fit_transform(X_train_num_fit)

X_test_num_fit_sc = sc.transform(X_test_num_fit)

In [28]:
#convert to data frame
X_train_done_n = pd.DataFrame(X_train_num_fit_sc,columns=X_train_num.columns)
X_test_done_n= pd.DataFrame(X_test_num_fit_sc,columns=X_test_num.columns)

In [29]:
#convert to data frame
X_train_done_c = pd.DataFrame(X_train_cat_fit,columns=X_train_cat.columns)
X_test_done_c = pd.DataFrame(X_test_cat_fit ,columns=X_test_cat.columns)

In [30]:
#do dummies
X_train_done_cat = pd.get_dummies(X_train_done_c,prefix=X_train_done_c.columns.tolist(), columns = X_train_done_c.columns.tolist(), drop_first=True)

In [31]:
#do dummies
X_test_done_cat = pd.get_dummies(X_test_done_c,prefix=X_test_done_c.columns.tolist(), columns = X_test_done_c.columns.tolist(), drop_first=True)

In [32]:
#merge train and test
X_train = pd.concat([X_train_done_n,X_train_done_cat], axis=1)
X_test = pd.concat([X_test_done_n,X_test_done_cat], axis=1)

In [33]:
X_train.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140394 entries, 0 to 140393
Data columns (total 125 columns):
 #   Column                                                            Dtype
---  ------                                                            -----
 0   CARSHARE                                                          float64
 1   DRVRCNT                                                           float64
 2   HHSIZE                                                            float64
 3   HHVEHCNT                                                          float64
 4   R_AGE                                                             float64
 5   TIMETOWK                                                          float64
 6   VEHAGE                                                            float64
 7   VEHOWNMO                                                          float64
 8   WRKCOUNT                                                          float64
 9   YEARMILE                                                          float64
 10  YOUNGCHILD                                                        float64
 11  CAR_label_A FEW TIMES A WEEK                                      uint8
 12  CAR_label_A FEW TIMES A YEAR                                      uint8
 13  CAR_label_DAILY                                                   uint8
 14  CAR_label_NEVER                                                   uint8
 15  EDUC_label_GRADUATE DEGREE OR PROFESSIONAL DEGREE                 uint8
 16  EDUC_label_HIGH SCHOOL GRADUATE OR GED                            uint8
 17  EDUC_label_LESS THAN A HIGH SCHOOL GRADUATE                       uint8
 18  EDUC_label_SOME COLLEGE OR ASSOCIATES DEGREE                      uint8
 19  GT1JBLWK_label_YES                                                uint8
 20  HBHUR_label_SECOND CITY                                           uint8
 21  HBHUR_label_SMALL TOWN                                            uint8
 22  HBHUR_label_SUBURBAN                                              uint8
 23  HBHUR_label_URBAN                                                 uint8
 24  HBPPOPDN_label_1,000-1,999                                        uint8
 25  HBPPOPDN_label_10,000-24,999                                      uint8
 26  HBPPOPDN_label_100-499                                            uint8
 27  HBPPOPDN_label_2,000-3,999                                        uint8
 28  HBPPOPDN_label_25,000-999,999                                     uint8
 29  HBPPOPDN_label_4,000-9,999                                        uint8
 30  HBPPOPDN_label_500-999                                            uint8
 31  HBRESDN_label_1,000-1,999                                         uint8
 32  HBRESDN_label_10,000-24,999                                       uint8
 33  HBRESDN_label_100-499                                             uint8
 34  HBRESDN_label_2,000-3,999                                         uint8
 35  HBRESDN_label_25,000-999,999                                      uint8
 36  HBRESDN_label_4,000-9,999                                         uint8
 37  HBRESDN_label_500-999                                             uint8
 38  HHFAMINC_label_$100,000 TO $124,999                               uint8
 39  HHFAMINC_label_$125,000 TO $149,999                               uint8
 40  HHFAMINC_label_$15,000 TO $24,999                                 uint8
 41  HHFAMINC_label_$150,000 TO $199,999                               uint8
 42  HHFAMINC_label_$200,000 OR MORE                                   uint8
 43  HHFAMINC_label_$25,000 TO $34,999                                 uint8
 44  HHFAMINC_label_$35,000 TO $49,999                                 uint8
 45  HHFAMINC_label_$50,000 TO $74,999                                 uint8
 46  HHFAMINC_label_$75,000 TO $99,999                                 uint8
 47  HHFAMINC_label_LESS THAN $10,000                                  uint8
 48  HHSTATE_label_AL                                                  uint8
 49  HHSTATE_label_AR                                                  uint8
 50  HHSTATE_label_AZ                                                  uint8
 51  HHSTATE_label_CA                                                  uint8
 52  HHSTATE_label_CO                                                  uint8
 53  HHSTATE_label_CT                                                  uint8
 54  HHSTATE_label_DC                                                  uint8
 55  HHSTATE_label_DE                                                  uint8
 56  HHSTATE_label_FL                                                  uint8
 57  HHSTATE_label_GA                                                  uint8
 58  HHSTATE_label_HI                                                  uint8
 59  HHSTATE_label_IA                                                  uint8
 60  HHSTATE_label_ID                                                  uint8
 61  HHSTATE_label_IL                                                  uint8
 62  HHSTATE_label_IN                                                  uint8
 63  HHSTATE_label_KS                                                  uint8
 64  HHSTATE_label_KY                                                  uint8
 65  HHSTATE_label_LA                                                  uint8
 66  HHSTATE_label_MA                                                  uint8
 67  HHSTATE_label_MD                                                  uint8
 68  HHSTATE_label_ME                                                  uint8
 69  HHSTATE_label_MI                                                  uint8
 70  HHSTATE_label_MN                                                  uint8
 71  HHSTATE_label_MO                                                  uint8
 72  HHSTATE_label_MS                                                  uint8
 73  HHSTATE_label_MT                                                  uint8
 74  HHSTATE_label_NC                                                  uint8
 75  HHSTATE_label_ND                                                  uint8
 76  HHSTATE_label_NE                                                  uint8
 77  HHSTATE_label_NH                                                  uint8
 78  HHSTATE_label_NJ                                                  uint8
 79  HHSTATE_label_NM                                                  uint8
 80  HHSTATE_label_NV                                                  uint8
 81  HHSTATE_label_NY                                                  uint8
 82  HHSTATE_label_OH                                                  uint8
 83  HHSTATE_label_OK                                                  uint8
 84  HHSTATE_label_OR                                                  uint8
 85  HHSTATE_label_PA                                                  uint8
 86  HHSTATE_label_RI                                                  uint8
 87  HHSTATE_label_SC                                                  uint8
 88  HHSTATE_label_SD                                                  uint8
 89  HHSTATE_label_TN                                                  uint8
 90  HHSTATE_label_TX                                                  uint8
 91  HHSTATE_label_UT                                                  uint8
 92  HHSTATE_label_VA                                                  uint8
 93  HHSTATE_label_VT                                                  uint8
 94  HHSTATE_label_WA                                                  uint8
 95  HHSTATE_label_WI                                                  uint8
 96  HHSTATE_label_WV                                                  uint8
 97  HHSTATE_label_WY                                                  uint8
 98  HOMEOWN_label_RENT                                                uint8
 99  HOMEOWN_label_SOME OTHER ARRANGEMENT                              uint8
 100 OCCAT_label_MANUFACTURING, CONSTRUCTION, MAINTENANCE, OR FARMING  uint8
 101 OCCAT_label_PROFESSIONAL, MANAGERIAL, OR TECHNICAL                uint8
 102 OCCAT_label_SALES OR SERVICE                                      uint8
 103 OCCAT_label_SOMETHING ELSE                                        uint8
 104 PLACE_label_DISAGREE                                              uint8
 105 PLACE_label_NEITHER AGREE OR DISAGREE                             uint8
 106 PLACE_label_STRONGLY AGREE                                        uint8
 107 PLACE_label_STRONGLY DISAGREE                                     uint8
 108 PRICE_label_DISAGREE                                              uint8
 109 PRICE_label_NEITHER AGREE OR DISAGREE                             uint8
 110 PRICE_label_STRONGLY AGREE                                        uint8
 111 PRICE_label_STRONGLY DISAGREE                                     uint8
 112 R_HISP_label_YES, HISPANIC OR LATINO                              uint8
 113 R_RACE_label_ASIAN                                                uint8
 114 R_RACE_label_BLACK OR AFRICAN AMERICAN                            uint8
 115 R_RACE_label_DON'T KNOW                                           uint8
 116 R_RACE_label_MULTIPLE RESPONSES SELECTED                          uint8
 117 R_RACE_label_NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER            uint8
 118 R_RACE_label_REFUSED                                              uint8
 119 R_RACE_label_SOME OTHER RACE                                      uint8
 120 R_RACE_label_WHITE                                                uint8
 121 R_SEX_label_MALE                                                  uint8
 122 VEHOWNED_label_YES                                                uint8
 123 WKFTPT_label_PART-TIME                                            uint8
 124 WKRMHM_label_YES                                                  uint8
dtypes: float64(11), uint8(114)
memory usage: 27.0 MB

In [34]:
X_train.columns = X_train.columns.str.replace(' ','_').str.replace('[,,-,\',$]','')

In [35]:
X_train.columns = X_train.columns.str.replace(' ','_').str.replace('[,,-,\',$]','')

In [36]:
X_train.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140394 entries, 0 to 140393
Data columns (total 125 columns):
 #   Column                                                         Dtype
---  ------                                                         -----
 0   CARSHARE                                                       float64
 1   DRVRCNT                                                        float64
 2   HHSIZE                                                         float64
 3   HHVEHCNT                                                       float64
 4   R_AGE                                                          float64
 5   TIMETOWK                                                       float64
 6   VEHAGE                                                         float64
 7   VEHOWNMO                                                       float64
 8   WRKCOUNT                                                       float64
 9   YEARMILE                                                       float64
 10  YOUNGCHILD                                                     float64
 11  CAR_label_A_FEW_TIMES_A_WEEK                                   uint8
 12  CAR_label_A_FEW_TIMES_A_YEAR                                   uint8
 13  CAR_label_DAILY                                                uint8
 14  CAR_label_NEVER                                                uint8
 15  EDUC_label_GRADUATE_DEGREE_OR_PROFESSIONAL_DEGREE              uint8
 16  EDUC_label_HIGH_SCHOOL_GRADUATE_OR_GED                         uint8
 17  EDUC_label_LESS_THAN_A_HIGH_SCHOOL_GRADUATE                    uint8
 18  EDUC_label_SOME_COLLEGE_OR_ASSOCIATES_DEGREE                   uint8
 19  GT1JBLWK_label_YES                                             uint8
 20  HBHUR_label_SECOND_CITY                                        uint8
 21  HBHUR_label_SMALL_TOWN                                         uint8
 22  HBHUR_label_SUBURBAN                                           uint8
 23  HBHUR_label_URBAN                                              uint8
 24  HBPPOPDN_label_1000-1999                                       uint8
 25  HBPPOPDN_label_10000-24999                                     uint8
 26  HBPPOPDN_label_100-499                                         uint8
 27  HBPPOPDN_label_2000-3999                                       uint8
 28  HBPPOPDN_label_25000-999999                                    uint8
 29  HBPPOPDN_label_4000-9999                                       uint8
 30  HBPPOPDN_label_500-999                                         uint8
 31  HBRESDN_label_1000-1999                                        uint8
 32  HBRESDN_label_10000-24999                                      uint8
 33  HBRESDN_label_100-499                                          uint8
 34  HBRESDN_label_2000-3999                                        uint8
 35  HBRESDN_label_25000-999999                                     uint8
 36  HBRESDN_label_4000-9999                                        uint8
 37  HBRESDN_label_500-999                                          uint8
 38  HHFAMINC_label_100000_TO_124999                                uint8
 39  HHFAMINC_label_125000_TO_149999                                uint8
 40  HHFAMINC_label_15000_TO_24999                                  uint8
 41  HHFAMINC_label_150000_TO_199999                                uint8
 42  HHFAMINC_label_200000_OR_MORE                                  uint8
 43  HHFAMINC_label_25000_TO_34999                                  uint8
 44  HHFAMINC_label_35000_TO_49999                                  uint8
 45  HHFAMINC_label_50000_TO_74999                                  uint8
 46  HHFAMINC_label_75000_TO_99999                                  uint8
 47  HHFAMINC_label_LESS_THAN_10000                                 uint8
 48  HHSTATE_label_AL                                               uint8
 49  HHSTATE_label_AR                                               uint8
 50  HHSTATE_label_AZ                                               uint8
 51  HHSTATE_label_CA                                               uint8
 52  HHSTATE_label_CO                                               uint8
 53  HHSTATE_label_CT                                               uint8
 54  HHSTATE_label_DC                                               uint8
 55  HHSTATE_label_DE                                               uint8
 56  HHSTATE_label_FL                                               uint8
 57  HHSTATE_label_GA                                               uint8
 58  HHSTATE_label_HI                                               uint8
 59  HHSTATE_label_IA                                               uint8
 60  HHSTATE_label_ID                                               uint8
 61  HHSTATE_label_IL                                               uint8
 62  HHSTATE_label_IN                                               uint8
 63  HHSTATE_label_KS                                               uint8
 64  HHSTATE_label_KY                                               uint8
 65  HHSTATE_label_LA                                               uint8
 66  HHSTATE_label_MA                                               uint8
 67  HHSTATE_label_MD                                               uint8
 68  HHSTATE_label_ME                                               uint8
 69  HHSTATE_label_MI                                               uint8
 70  HHSTATE_label_MN                                               uint8
 71  HHSTATE_label_MO                                               uint8
 72  HHSTATE_label_MS                                               uint8
 73  HHSTATE_label_MT                                               uint8
 74  HHSTATE_label_NC                                               uint8
 75  HHSTATE_label_ND                                               uint8
 76  HHSTATE_label_NE                                               uint8
 77  HHSTATE_label_NH                                               uint8
 78  HHSTATE_label_NJ                                               uint8
 79  HHSTATE_label_NM                                               uint8
 80  HHSTATE_label_NV                                               uint8
 81  HHSTATE_label_NY                                               uint8
 82  HHSTATE_label_OH                                               uint8
 83  HHSTATE_label_OK                                               uint8
 84  HHSTATE_label_OR                                               uint8
 85  HHSTATE_label_PA                                               uint8
 86  HHSTATE_label_RI                                               uint8
 87  HHSTATE_label_SC                                               uint8
 88  HHSTATE_label_SD                                               uint8
 89  HHSTATE_label_TN                                               uint8
 90  HHSTATE_label_TX                                               uint8
 91  HHSTATE_label_UT                                               uint8
 92  HHSTATE_label_VA                                               uint8
 93  HHSTATE_label_VT                                               uint8
 94  HHSTATE_label_WA                                               uint8
 95  HHSTATE_label_WI                                               uint8
 96  HHSTATE_label_WV                                               uint8
 97  HHSTATE_label_WY                                               uint8
 98  HOMEOWN_label_RENT                                             uint8
 99  HOMEOWN_label_SOME_OTHER_ARRANGEMENT                           uint8
 100 OCCAT_label_MANUFACTURING_CONSTRUCTION_MAINTENANCE_OR_FARMING  uint8
 101 OCCAT_label_PROFESSIONAL_MANAGERIAL_OR_TECHNICAL               uint8
 102 OCCAT_label_SALES_OR_SERVICE                                   uint8
 103 OCCAT_label_SOMETHING_ELSE                                     uint8
 104 PLACE_label_DISAGREE                                           uint8
 105 PLACE_label_NEITHER_AGREE_OR_DISAGREE                          uint8
 106 PLACE_label_STRONGLY_AGREE                                     uint8
 107 PLACE_label_STRONGLY_DISAGREE                                  uint8
 108 PRICE_label_DISAGREE                                           uint8
 109 PRICE_label_NEITHER_AGREE_OR_DISAGREE                          uint8
 110 PRICE_label_STRONGLY_AGREE                                     uint8
 111 PRICE_label_STRONGLY_DISAGREE                                  uint8
 112 R_HISP_label_YES_HISPANIC_OR_LATINO                            uint8
 113 R_RACE_label_ASIAN                                             uint8
 114 R_RACE_label_BLACK_OR_AFRICAN_AMERICAN                         uint8
 115 R_RACE_label_DONT_KNOW                                         uint8
 116 R_RACE_label_MULTIPLE_RESPONSES_SELECTED                       uint8
 117 R_RACE_label_NATIVE_HAWAIIAN_OR_OTHER_PACIFIC_ISLANDER         uint8
 118 R_RACE_label_REFUSED                                           uint8
 119 R_RACE_label_SOME_OTHER_RACE                                   uint8
 120 R_RACE_label_WHITE                                             uint8
 121 R_SEX_label_MALE                                               uint8
 122 VEHOWNED_label_YES                                             uint8
 123 WKFTPT_label_PART-TIME                                         uint8
 124 WKRMHM_label_YES                                               uint8
dtypes: float64(11), uint8(114)
memory usage: 27.0 MB

In [37]:
X_test.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60170 entries, 0 to 60169
Data columns (total 125 columns):
 #   Column                                                            Dtype
---  ------                                                            -----
 0   CARSHARE                                                          float64
 1   DRVRCNT                                                           float64
 2   HHSIZE                                                            float64
 3   HHVEHCNT                                                          float64
 4   R_AGE                                                             float64
 5   TIMETOWK                                                          float64
 6   VEHAGE                                                            float64
 7   VEHOWNMO                                                          float64
 8   WRKCOUNT                                                          float64
 9   YEARMILE                                                          float64
 10  YOUNGCHILD                                                        float64
 11  CAR_label_A FEW TIMES A WEEK                                      uint8
 12  CAR_label_A FEW TIMES A YEAR                                      uint8
 13  CAR_label_DAILY                                                   uint8
 14  CAR_label_NEVER                                                   uint8
 15  EDUC_label_GRADUATE DEGREE OR PROFESSIONAL DEGREE                 uint8
 16  EDUC_label_HIGH SCHOOL GRADUATE OR GED                            uint8
 17  EDUC_label_LESS THAN A HIGH SCHOOL GRADUATE                       uint8
 18  EDUC_label_SOME COLLEGE OR ASSOCIATES DEGREE                      uint8
 19  GT1JBLWK_label_YES                                                uint8
 20  HBHUR_label_SECOND CITY                                           uint8
 21  HBHUR_label_SMALL TOWN                                            uint8
 22  HBHUR_label_SUBURBAN                                              uint8
 23  HBHUR_label_URBAN                                                 uint8
 24  HBPPOPDN_label_1,000-1,999                                        uint8
 25  HBPPOPDN_label_10,000-24,999                                      uint8
 26  HBPPOPDN_label_100-499                                            uint8
 27  HBPPOPDN_label_2,000-3,999                                        uint8
 28  HBPPOPDN_label_25,000-999,999                                     uint8
 29  HBPPOPDN_label_4,000-9,999                                        uint8
 30  HBPPOPDN_label_500-999                                            uint8
 31  HBRESDN_label_1,000-1,999                                         uint8
 32  HBRESDN_label_10,000-24,999                                       uint8
 33  HBRESDN_label_100-499                                             uint8
 34  HBRESDN_label_2,000-3,999                                         uint8
 35  HBRESDN_label_25,000-999,999                                      uint8
 36  HBRESDN_label_4,000-9,999                                         uint8
 37  HBRESDN_label_500-999                                             uint8
 38  HHFAMINC_label_$100,000 TO $124,999                               uint8
 39  HHFAMINC_label_$125,000 TO $149,999                               uint8
 40  HHFAMINC_label_$15,000 TO $24,999                                 uint8
 41  HHFAMINC_label_$150,000 TO $199,999                               uint8
 42  HHFAMINC_label_$200,000 OR MORE                                   uint8
 43  HHFAMINC_label_$25,000 TO $34,999                                 uint8
 44  HHFAMINC_label_$35,000 TO $49,999                                 uint8
 45  HHFAMINC_label_$50,000 TO $74,999                                 uint8
 46  HHFAMINC_label_$75,000 TO $99,999                                 uint8
 47  HHFAMINC_label_LESS THAN $10,000                                  uint8
 48  HHSTATE_label_AL                                                  uint8
 49  HHSTATE_label_AR                                                  uint8
 50  HHSTATE_label_AZ                                                  uint8
 51  HHSTATE_label_CA                                                  uint8
 52  HHSTATE_label_CO                                                  uint8
 53  HHSTATE_label_CT                                                  uint8
 54  HHSTATE_label_DC                                                  uint8
 55  HHSTATE_label_DE                                                  uint8
 56  HHSTATE_label_FL                                                  uint8
 57  HHSTATE_label_GA                                                  uint8
 58  HHSTATE_label_HI                                                  uint8
 59  HHSTATE_label_IA                                                  uint8
 60  HHSTATE_label_ID                                                  uint8
 61  HHSTATE_label_IL                                                  uint8
 62  HHSTATE_label_IN                                                  uint8
 63  HHSTATE_label_KS                                                  uint8
 64  HHSTATE_label_KY                                                  uint8
 65  HHSTATE_label_LA                                                  uint8
 66  HHSTATE_label_MA                                                  uint8
 67  HHSTATE_label_MD                                                  uint8
 68  HHSTATE_label_ME                                                  uint8
 69  HHSTATE_label_MI                                                  uint8
 70  HHSTATE_label_MN                                                  uint8
 71  HHSTATE_label_MO                                                  uint8
 72  HHSTATE_label_MS                                                  uint8
 73  HHSTATE_label_MT                                                  uint8
 74  HHSTATE_label_NC                                                  uint8
 75  HHSTATE_label_ND                                                  uint8
 76  HHSTATE_label_NE                                                  uint8
 77  HHSTATE_label_NH                                                  uint8
 78  HHSTATE_label_NJ                                                  uint8
 79  HHSTATE_label_NM                                                  uint8
 80  HHSTATE_label_NV                                                  uint8
 81  HHSTATE_label_NY                                                  uint8
 82  HHSTATE_label_OH                                                  uint8
 83  HHSTATE_label_OK                                                  uint8
 84  HHSTATE_label_OR                                                  uint8
 85  HHSTATE_label_PA                                                  uint8
 86  HHSTATE_label_RI                                                  uint8
 87  HHSTATE_label_SC                                                  uint8
 88  HHSTATE_label_SD                                                  uint8
 89  HHSTATE_label_TN                                                  uint8
 90  HHSTATE_label_TX                                                  uint8
 91  HHSTATE_label_UT                                                  uint8
 92  HHSTATE_label_VA                                                  uint8
 93  HHSTATE_label_VT                                                  uint8
 94  HHSTATE_label_WA                                                  uint8
 95  HHSTATE_label_WI                                                  uint8
 96  HHSTATE_label_WV                                                  uint8
 97  HHSTATE_label_WY                                                  uint8
 98  HOMEOWN_label_RENT                                                uint8
 99  HOMEOWN_label_SOME OTHER ARRANGEMENT                              uint8
 100 OCCAT_label_MANUFACTURING, CONSTRUCTION, MAINTENANCE, OR FARMING  uint8
 101 OCCAT_label_PROFESSIONAL, MANAGERIAL, OR TECHNICAL                uint8
 102 OCCAT_label_SALES OR SERVICE                                      uint8
 103 OCCAT_label_SOMETHING ELSE                                        uint8
 104 PLACE_label_DISAGREE                                              uint8
 105 PLACE_label_NEITHER AGREE OR DISAGREE                             uint8
 106 PLACE_label_STRONGLY AGREE                                        uint8
 107 PLACE_label_STRONGLY DISAGREE                                     uint8
 108 PRICE_label_DISAGREE                                              uint8
 109 PRICE_label_NEITHER AGREE OR DISAGREE                             uint8
 110 PRICE_label_STRONGLY AGREE                                        uint8
 111 PRICE_label_STRONGLY DISAGREE                                     uint8
 112 R_HISP_label_YES, HISPANIC OR LATINO                              uint8
 113 R_RACE_label_ASIAN                                                uint8
 114 R_RACE_label_BLACK OR AFRICAN AMERICAN                            uint8
 115 R_RACE_label_DON'T KNOW                                           uint8
 116 R_RACE_label_MULTIPLE RESPONSES SELECTED                          uint8
 117 R_RACE_label_NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER            uint8
 118 R_RACE_label_REFUSED                                              uint8
 119 R_RACE_label_SOME OTHER RACE                                      uint8
 120 R_RACE_label_WHITE                                                uint8
 121 R_SEX_label_MALE                                                  uint8
 122 VEHOWNED_label_YES                                                uint8
 123 WKFTPT_label_PART-TIME                                            uint8
 124 WKRMHM_label_YES                                                  uint8
dtypes: float64(11), uint8(114)
memory usage: 11.6 MB

In [38]:
print("The shape of the X_train features is {0}".format(X_train.shape))
print("The shape of the X_test features is {0}".format(X_test.shape))

The shape of the X_train features is (140394, 125)
The shape of the X_test features is (60170, 125)

In [39]:
#Get mean and variance for train and test data
print("The mean of y_train is {0}".format(np.mean(y_train)))
print("The variance of y_train is {0}".format(np.var(y_train)))

The mean of y_train is 0.029702124022394118
The variance of y_train is 0.02881990785086755

Could try approximating the model with Poisson...

### Export Datasets

In [40]:
X_train.to_csv(os.path.expanduser(os.path.join(BASE_DIR, "Data/X_train.csv")))

In [41]:
X_test.to_csv(os.path.expanduser(os.path.join(BASE_DIR, "Data/X_test.csv")))

In [42]:
y_train.to_csv(os.path.expanduser(os.path.join(BASE_DIR, "Data/y_train.csv")))

In [43]:
y_test.to_csv(os.path.expanduser(os.path.join(BASE_DIR, "Data/y_test.csv")))